---
use:
  - posts
permalink: posts.atom
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>Christian Lück's recent blog posts</title>
    <updated>{{ (data.posts | first).date | date("Y-m-d\\T00:00:00\\Z") }}</updated>
    <author>
        <name>Christian Lück</name>
    </author>
    <link href="https://clue.engineering/posts.atom" rel="self" />
    <link href="https://clue.engineering/blog" rel="alternate" type="text/html" />
    <id>https://clue.engineering/</id>
{% for post in data.posts[:10] %}
    <entry>
        <title>{{ post.title }}</title>
        <link href="https://clue.engineering{{ post.url | replace({'.html':''}) }}" />
        <id>{{ post.legacy_id | default("https://clue.engineering" ~ post.url | replace({'.html':''})) }}</id>
        <updated>{{ post.date | date("Y-m-d\\T00:00:00\\Z") }}</updated>
        <summary>{{ post.blocks.content|raw|striptags|replace({"\n":' ', "\r":' '})|trim|split(' ')|slice(0,50)|join(' ')|raw }}…</summary>
    </entry>
{% endfor %}
</feed>
