{% extends "default" %}

{% block head %}
{% set description = page.blocks.content|raw|striptags|replace({"\n":' ', "\r":' '})|trim|split(' ')|slice(0,50)|join(' ')|raw %}

    <meta name="description" content="{{ description }}…">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ description }}…">
{% if page.social_image_large %}
    <meta property="og:image" content="{{ page.social_image_large }}">
    <meta name="twitter:card" content="summary_large_image">
{% elseif page.social_image %}
    <meta property="og:image" content="{{ page.social_image }}">
{% endif %}
    <meta property="og:url" content="https://clue.engineering{{ page.url | replace({'.html':''}) }}">
    <meta property="og:site_name" content="clue·engineering">
    <meta property="article:published_time" content="{{ page.date | date("Y-m-d") }}">
    <meta name="twitter:site" content="@another_clue">
    <meta name="twitter:creator" content="@another_clue">
{% endblock %}

{% block postcontent %}
    <section id="post">
        <div class="container">
            <article>
                <h1>{{ page.title }}</h1>
                <div>
                    <address>
{% for name in page.author %}
                        <img src="../src/{{ name | split(' ')[0] | lower | replace({'christian':'me'}) }}.jpg" alt="{{ name }} Portrait Photo">
{% endfor %}
                        {% for name in page.author %}
<a href="../">{{ name }}</a>{% if not loop.last %} &amp; {% endif %}
{% endfor %}

                    </address>
                    on <time datetime="{{ page.date | date("Y-m-d") }}">{{ page.date | date("Y-m-d") }}</time>
{% if page.tags %}
<div>
  tagged
{%     for tag in page.tags %}
  <a href="../blog#{{ tag }}" title="Show all blog posts tagged #{{ tag }}" rel="tag">#{{ tag }}</a>
{%     endfor %}
</div>
{% endif %}
                </div>

{% block content %}{% endblock %}

            </article>
        </div>
    </section>

    <section id="share">
        <div class="container">
            <h3>
                <a href="#share"></a>
                Drop us a line!
            </h3>
            <p>
                Like the things we like to write about or have anything to add?
                Feel free send a tweet to <a href="https://twitter.com/another_clue">@another_clue</a>.
            </p>
            <p>
                Also consider sharing the blog posts with friends and colleagues.
                Unless otherwise noted, all our blog posts can be shared freely under
                the permissive <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>
                license.
            </p>
            <p>
                <!-- Thank you! https://fontawesome.com/ (solid/envelope) -->
                <svg viewBox="0 0 512 512"><path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"/></svg>
                <a href="contact">Email us</a> if you think we should be working together on interesting projects.
            </p>
        </div>
    </section>
{% endblock %}
