{% set description = page.excerpt | default(page.blocks.content|raw|striptags|replace({"\n":' ', "\r":' '})|split(' ')|slice(0,50)|join(' ') ~ "…") %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ description }}">
    <link href="../src/landing-page.css" rel="stylesheet">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ description }}">
{% if page.social_image %}
    <meta property="og:image" content="{{ site.url }}{{ page.social_image }}">
{% endif %}
    <meta property="og:url" content="https://clue.engineering{{ page.url | replace({'.html':''}) }}">
    <meta property="og:site_name" content="clue·engineering">
    <meta property="article:published_time" content="{{ page.date | date("Y-m-d") }}">
    <meta name="twitter:site" content="@another_clue">
    <meta name="twitter:creator" content="@another_clue">
</head>

<body>
    <nav>
        <ul>
            <li><a href="../">Home</a></li>
            <li><a href="../talks">Talks</a></li>
            <li><a href="../contact">Contact</a></li>
        </ul>
    </nav>

    <section id="post">
        <div class="container">
            <article>
                <h1>{{ page.title }}</h1>
                <div>
                    <address>
                        <img src="../src/me.jpg" alt="Christian Lück Portrait Photo">
                        <a href="../">Christian Lück</a>
                    </address>
                    on <time datetime="{{ page.date | date("Y-m-d") }}">{{ page.date | date("Y-m-d") }}</time>
                </div>

{% block content %}{% endblock %}

            </article>
        </div>
    </section>

    <section id="comments">
        <div class="container">
            <h2>
                <a href="#comments"></a>
                Comments
            </h2>

            <script src="https://utteranc.es/client.js"
                    repo="clue/clue.engineering"
                    issue-term="title"
                    label="comments"
                    theme="github-light"
                    crossorigin="anonymous"
                    async>
            </script>
        </div>
    </section>
</body>
</html>
